.navbar {
  background-color: #1d2a57;
  color: white;
}
.navbar-nav {
  width: 100%;
}

.navbar-brand img {
  width: 120px;
}

.navbar .dropdown-menu {
  min-width: 230px;
  background-color: #1d2a57;
}

.category-item {
  color: #fff;
}

.category-item:hover {
  background-color: #FEC400;
}
