.table__data {
	&-action__delete {
		border-radius: 25px;
		width: 200px;
		color: #184C92;

		svg {
			margin-top: -5px;
			margin-right: 5px;
		}
		&:hover {
			background-color: #06c5dc;
		}
	}

	&-description {
		width: 50%;
	}

}
