.table-responsive {
	background-color: #fff;
	margin-bottom: 50px;
	border-radius: 5px;

	.table__info-data {
		margin-top: 50px;
		margin-left: 20px;
		text-align: left;
	}
}

table {
	color: #184C92 !important;
}
