body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif !important;
}

a,
button,
input,
Link {
  min-height: 44px !important;
  min-width: 44px !important;
}

